<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explorar Ofertas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Explorar nuestras ofertas</h1>
        <div class="botones">
            <a href="#" class="boton">Categorías</a>
            <a href="#" class="boton">Marcas</a>
        </div>
        <p>Explora nuestras ofertas y encuentra los mejores productos para ti.</p>
    </div>
</body>
</html>
