<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Bodega del Deporte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a la bodega del deporte</h1>
        <div class="categorias">
            <div class="categoria">
                <img src="{{ url_for('static', filename='img/mujer.jpeg') }}" alt="Mujer">
                <h2>Mujer</h2>
                <a href="/categorias/mujer" class="boton">Comprar ahora</a>
            </div>
            <div class="categoria">
                <img src="{{ url_for('static', filename='img/hombre.jpeg') }}" alt="Hombre">
                <h2>Hombre</h2>
                <a href="/categorias/hombre" class="boton">Comprar ahora</a>
            </div>
            <div class="categoria">
                <img src="{{ url_for('static', filename='img/deportes.png') }}" alt="Deportes">
                <h2>Deportes</h2>
                <a href="/categorias/deportes" class="boton">Comprar ahora</a>
            </div>
        </div>
        
    </div>
</body>
</html>
